
.naamdag {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.naam {
    border: 1px solid #000;
    padding: 3px 3px;
    width: 27px;
    max-width: 27px;
    max-height: 27px;
}

.tabel {
    border: 1px solid #000;
    height: 300px;
    width: 300px;
}

.dagen {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.dag {
    border: 1px solid #000;
    width: 27px;
    height: 27px;
    text-align: center;
}