@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

html {
  scroll-behavior: smooth;
}

body {
 
  font-family: 'Signika', sans-serif !important;
}

p {
  color: #222;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}



header::after {
  content: '';
  display: table;
  clear: both;
}

.taalpic {
  width: 20px;

}

/* --------------------------------------------nav--------------------------------------- */

.navigation {
  height: 70px;
  background: #e0dede;
}

.brand {
  position: absolute;
  padding-left: 10px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none !important;
}

.logonav {
  height: 85px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #e0dede;
  color: black;
  text-decoration: none !important;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background:#53b408;
  color: black;
  transition-duration: 1.5s;
}














ul li ul.dropdown li {
display: block;

}

ul li ul.dropdown{
  width: 100%;
  background: #53b408;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover ul.dropdown{
  display: block;
}
























nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/*----------------------------------- Mobile navigation -------------------*/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #53b408;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 824px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 0px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 825px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}






/* --------------------------------------------services + over ons--------------------------------------- */


h1 {
  text-align: center;
}

.containerservices {
  background-image: url(../assets/service.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding: -15px;
}

.flex {
  margin: 0 auto;
  width: 70%;
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

a .flexservices {
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(242, 236, 228);
  height: 200px;
}

.flex p {
  transform: translateY(-30%);
}


a {
  text-decoration: none;
  color: black;
}

.flexservices:hover {
  background-color: rgb(197, 184, 184);
  transition-duration: 2s;

}


.overons {
  background-color: #e0dede;
  padding-bottom: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  font-size: 1.5em;
  align-items: center;
  line-height: 1.3em;
}

.overons .img {
  display: grid;
  align-items: center;
}

.imgoverons {
  max-width: 100%;
}



@media (min-width:260px) {
  .flex {
    margin: 0 auto;
    width: 70%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  a .flexservices {
    height: 130px;
    width: 130px;
  }

  .containerservices {
    padding: 30px 0;
    background-image: url(../assets/service.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    width: 100%;

  }

  .overons {
    padding-top: 2%;
    grid-template-columns: 1fr;
    align-items: center;
    padding-left: 10px;
  }



}

@media (min-width:650px) {
  .flex {
    margin: 0 auto;
    width: 70%;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .containerservices {
    background-image: url(../assets/service.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .overons {
    grid-template-columns: 1fr 1fr;
    align-items: normal;
  }
}

@media (min-width:1059px) {
  .overons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/*-------------------------------------------- LOGIN-------------------------- */

.container {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #94ec5b, #b4e8b0);
  width: 100vw;
  height: 91.2vh;
  overflow: hidden;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: white;
  border-radius: 10px;
}

.login h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.login form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .gegevens {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.gegevens input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.gegevens label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.gegevens span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.gegevens input:focus~label,
.gegevens input:valid~label {
  top: -5px;
  color: #2691d9;
}

.gegevens input:focus~span::before,
.gegevens input:valid~span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"] {
  border-color: #2691d9;
  transition: .5s;
}

.signup {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup a {
  color: #2691d9;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}


body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}




























body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerf {
  max-width: 1170px;
  margin: auto;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}


.footer {
  background-color: #24262b;
  padding: 30px 0;
}

.footer-col {
  width: 25%;
  padding: 0 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #53b408;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*-----------------------------------------REGISTRATIE-----------------------------*/
.registratiebody {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #94ec5b, #b4e8b0);
  height: 100vh;
}


.registratiecontainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  height: 100vh;
  width: 50%;
}

.registratiecontainer h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.registratiecontainer form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .registratietxt {
  position: relative;

  padding-top: 15px;
}

.registratietxt input {
  width: 100%;
  padding: 3px 5px;
  height: 30px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.registratietxt label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.registratietxt span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

input[type="submit"] {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: .5s;
}

/*Responsive van Registratie form*/
@media only screen and (max-width:400) {
  .registratiecontainer{
    position: absolute;
    top: 0;
  }
}


@media screen and (max-width: 480px){
	.registratiecontainer{
    font-size: 10px;
  }
  .registratietxt input{
    height: 23px;
    font-size: 10px;
  }
}

@media screen and (min-width: 480px){
	.registratiecontainer{
    font-size: 15px;
  }
  .registratietxt input{
    height: 25px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px){
	.registratiecontainer{
    height: 70%;
  }
}

@media screen and (min-width: 1280px){
	.registratiecontainer{
    height: 55%;
  }
}

@media screen and (min-width: 280px) and (max-width:290px){
	.registratiecontainer{
    font-size: 8px;
    height: 50%;
  }
  .registratietxt input{
    height: 15px;
    font-size: 5px;
  }
  input[type="submit"]{
    height: 15px;
    font-size: 8px;
  }
}

@media screen and (min-height: 844px) and (max-height:1000px){
	.registratiecontainer{
    height: 50%;
  }
}

@media screen and (min-height: 1024px) and (max-height:1028px){
	.registratiecontainer{
    height: 41%;
  }
}

@media screen and (min-height: 1180px) and (max-height:1182px){
	.registratiecontainer{
    height: 37%;
  }
}
@media screen and (min-height: 1368px) and (max-height:1370px){
	.registratiecontainer{
    height: 31%;
  }
}
/*-----------------------------CONTACT-----------------------------*/

.contactcontainer{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contactcontainer:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../assets/contact_re-cycle.png") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.linkscontact{
	background: url("../assets/contact_re-cycle.png") no-repeat center;
	height: 100%;
}

.rechtscontact{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.txtveld{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.txtveld:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.txtarea{
	min-height: 150px;
}

.btncontainer{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btncontainer:hover{
    background-color: #27ae60;
}

.txtveld:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact{
		grid-template-columns: 1fr;
	}
	.linkscontact{
		height: 200px;
	}
    .txtveld{
        font-size: 12px;
    }
    h2{
        font-size: 20px;
    }
}



























.header2{
     background: #364155;
     height: 660px;
     color: #fff;
     overflow: hidden;
}

.header2 .container2 {
  display: flex;
}
.header2 .container2 div {
  width: 50%;
}

.header2 .first{
  position: relative;
  margin-top: 200px;
}

.header2 .first:before{
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  height: 10%;
  width: 1px;
  background: #53b408;

}

.header2 .first .box2{
position: relative;
width: 100%;
padding-left: 80px;

}

.header2 .first .box2:before{
content: '';
position: absolute;
left: 0;
top: 10px;
height: 98%;
width: 1px;
background: rgba(255, 255, 255, 0,38);

}


.header2 .first .box2 h2{
  width: 90%;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;

}

.header2 .first .box2 p {
  width: 90%;
  margin-bottom: 17px;
  line-height: 1.9;
  
}

.header2 .first .box2 span{
display: block;
letter-spacing: 8px;
font-size: 22px;
margin-bottom: 40px;

}

.header2 .first a { 
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  width: 20%;
  text-align: center;
  background: #53b408;
  margin-right: 20px;
  transition: 0.5s;
  text-transform:uppercase;
  margin-left: 80px;
  min-width: 40%;
  max-width: 0%;

}

.header2 .first a:hover{

  background: #fff;
  color:#364155 ;
}

.header2 .first a i {

  margin-left: 5px;
}

.header2 .first .left i {
display: block;
margin-top: 15px;
cursor: pointer;
padding: 5px 0;

}

.header2 .first .left i:hover{

color: #53b408;

}

.header2 .first .right{
  width:85%;
  float: left;
  list-style: none;
  position: absolute;
  bottom: -20px;
  padding: 0;
  left: 7%;

}

.header2 .first .right li {
  float: left;
  padding: 5px;
  margin-left: 35px;
  cursor: pointer;
}

.header2 .second {
 position: relative;
 margin-top: 120px;

}

.header2 .second .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;


}

.header2 .second .overlay .num{
width: 100%;
text-align: right;
list-style: none;
margin-top: 170px;
}

.header2 .second .overlay .num li{
  padding: 5px;
  font-size: 13px;
  color: #fff;
  margin-top: 20px;
  opacity: 0.5;
  }

  .header2 .second .overlay .num li span{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 3px;
    border-radius: 50%;
    background: #364155;
    border: 1px solid #53b408;
    }

    .header2 .second .overlay .num .active2 span{
      width: 9px;
      height: 9px;
      margin-left: 5px;
      }

    .header2 .second .overlay .num .active2{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    opacity: 1;
      }
  
      .header2 .second .overlay .div{
        margin-top: 170px;
        width: 50%;
        float: left;
        }
       
   .header2 .second .overlay .left{
          padding-left: 160px;
          }     

          .header2 .second .overlay .right{
            text-align: right;
            }

.header2 .second .overlay .right i {
   display: inline-block;
   padding: 5px 17px;
   background: rgba(255, 255, 255, 0.25);
   cursor: pointer;

}


.header2 .second .overlay .right i:hover{
  background: rgba(255, 255, 255, 0,38);
  }

  .header2 .second .overlay .right i:last-of-type{
   margin-left: -5px;

  }


/*--------------------------ADMIN DASHBOARD--------------------------*/
.admindash {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  border-radius: 10px;
}


.admindash h2 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(67, 66, 66);
}

.admindash button{
  background: #2691d9;
  height: 10vh;
  width: 10vw;
  border-radius: 10px;
}

.admindashbtn label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}
.admindashboard{
  background: linear-gradient(120deg, #94ec5b, #b4e8b0);  
}






















  