.tb{
    display: grid;
    max-width: 700px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.tb i{
    margin-top: 15px;
}

.tb button{
    margin-top: 15px;
}

.tb button i{
    margin-top: 0;
}
/*ETHAN VOORSTEL*/
.footercontainer{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.tb{
    border: 1px solid #adadad;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(120deg, #94ec5b, #b4e8b0);
}
.tb p{
    border: 1px solid #adadad;
}

/*DASHBOARD VOOR DE UREN*/
.dashboarduren{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

